@import "tailwindcss";

body {
  background-color: #F9F5F3;
}

.font-serif {
  font-family: 'Libre Baskerville', serif;
}

.section-divider {
  /* @apply w-full h-[1px] bg-gradient-to-r from-transparent via-gray-200 to-transparent my-16; */
}

/* Add this to your styles */
.testimonial-swiper {
  overflow: visible !important; /* Allows the slides to bleed into the margins */
}

.testimonial-card {
  min-height: 480px; /* Forces equal height and matches Figma proportions */
  display: flex;
  flex-col: column;
}

/* Ensure the grayscale filter matches the Figma avatars */
.avatar-grayscale {
  filter: grayscale(100%);
  opacity: 0.8;
}

.glow-blob {
    position: absolute;
    width: 60vw;
    height: 120vw;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.4;
    z-index: -1;
    pointer-events: none;
}

.yellow-glow {
    background: radial-gradient(circle, #f7dc72 0%, rgba(255, 255, 255, 0) 100%);
    top: -10%;
    left: -20%;
}

.blue-glow {
    background: radial-gradient(circle, #88b9fa 0%, rgba(255, 255, 255, 0) 70%);
    top: -50%;
    right: -30%;
}